service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      allow update: if request.auth.uid != null;
      allow write, create, read: if true;
    }
  }
}
